<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/templates/if.html</title>
</head>
<body>
	<div class="container">
		<p th:if="${true}">th:if true 면 렌더링 된다</p>
		<p th:if="${false}">th:if false 면 렌더링 안됨</p>
		<p>
			나이 <strong>[[${age}]]</strong> 는 
			<strong th:if="${age >= 18}">성인</strong>
			<!--/*  unless 는 조건이 false 일때 랜더링 된다 */-->
			<strong th:unless="${age >= 18}">미성년</strong>
			입니다 
		</p>
		<p>
			나이 <strong>[[${age}]]</strong> 는
			<strong>[[${age >= 18 ? '성인' : '미성년'}]]</strong>
			입니다
		</p>
		<p>
			나이 <strong th:text="${age}"></strong> 는
			<strong th:text="${age >= 18 ? '성인' : '미성년'}"></strong>
			입니다
		</p>
		
		<h3>학점</h3>
		<p th:if="${score >= 90}">A 학점</p>
		<p th:if="${score >= 80 and score < 90}">B 학점</p>
		<p th:if="${score >= 70 and score < 80}">C 학점</p>
		<p th:if="${score >= 60 and score < 70}">D 학점</p>
		<p th:unless="${score >= 60}">F 학점</p>
		
		<h3>Role</h3>
		<div th:switch="${role}">
			<p th:case="'admin'">관리자 입니다</p>
			<p th:case="'staff'">직원 입니다</p>
			<p th:case="'user'">사용자 입니다</p>
			<p th:case="*">알수 없는 계정 입니다</p>
		</div>
		<a th:href="@{/}">인덱스로</a>
	</div>
</body>
</html>








