<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>/clients/detial.html</title>
<th:block th:insert="~{/include/resource :: bootstrap}"></th:block>
</head>
<body>
	<div class="container pt-4">
		<p th:if="${message}" class="alert alert-success">[[${message}]]</p>
		<h3>고객 상세 정보</h3>
		<table class="table table-bordered" th:object="${clientDto}">
			<tbody>
				<tr>
					<th>번호</th>
					<td>[[*{num}]]</td>
				</tr>
				<tr>
					<th>이름</th>
					<td>[[*{userName}]]</td>
				</tr>
				<tr>
					<th>생일</th>
					<td th:text="*{#temporals.format(birthday, 'yy년 MM월 dd일')}"></td>
				</tr>
				<tr>
					<th>수정일</th>
					<td th:text="*{#temporals.format(updatedAt, 'yy년 MM월 dd일 HH:mm')}"></td>
				</tr>
				<tr>
					<th>등록일</th>
					<td th:text="*{createdAt}"></td>
				</tr>
			</tbody>
		</table>
		<div class="mt-3">
			<a th:href="@{/clients}" class="btn btn-secondary">목록으로</a>
			<a th:href="@{|/clients/${clientDto.num}/edit|}" class="btn btn-primary">수정</a>
		</div>
	</div>
</body>















</html>