<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>/clients/new.html</title>
<th:block th:insert="~{/include/resource :: bootstrap}"></th:block>
</head>
<body>
	<div class="container">
		<h3>새 Client 등록 양식</h3>
		<!--/* 
			th:object="${clientDto}" 는 model 에 "clientDto" 라는 키값으로 전달된 dto 를 form 요소 안에서 
			"clientDto" 키를 생략하고 사용할수 있도록 해준다. 
			
			다른 편리한 기능도 사용할수 있기 때문에 이렇게 사용하는게 일반적이다 
			
			*{전달된 dto 객체의 필드명} 형식으로 사용할수 있다. 
			
			th:field="*{전달된 dto 객체의 필드명}"  을 form 의 입력요소에 지정하면 
			name 속성, id 속성, value 속성의 값을 자동으로 완성해 준다. 단 value 는 값이 null 이 아닌 경우에만
 		*/-->
		<form th:action="@{/clients}" th:object="${clientDto}" method="post" >
		    <div class="mb-3">
		      <label class="form-label" for="userName">userName <span class="text-danger">*</span></label>
		      <input type="text" class="form-control" th:field="*{userName}" placeholder="이름 입력" />
		      <small class="text-danger" 
					th:if="${#fields.hasErrors('userName')}" 
					th:errors="*{userName}">에러</small>
		    </div>
			<div class="mb-3">
				<label class="form-label" id="birthday">생일 (선택)</label>
				<input type="date" th:field="*{birthday}" class="form-control" />
				<small class="form-text text-muted">나중에 입력 가능</small>
				<small class="text-danger" 
					th:if="${#fields.hasErrors('birthday')}" 
					th:errors="*{birthday}">에러</small>
			</div>
			<button class="btn btn-success" type="submit">등록</button>
		</form>
	</div>
</body>
</html>









