<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>/board/edit.html</title>
<th:block th:insert="~{/include/resource :: bootstrap}"></th:block>
<th:block th:insert="~{/include/resource :: toastui}"></th:block>	
</head>
<body>
	<div class="container pt-3">
		<nav>
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a th:href="@{/}">Home</a>
		    </li>
		    <li class="breadcrumb-item">
		    	<a th:href="@{/board/list}">Board</a>
		    </li>
		    <li class="breadcrumb-item active">Edit</li>
		  </ol>
		</nav>
		<h1>글 수정 페이지</h1>
		<form th:action="@{/board/update}" method="post" id="editForm">
			<div>
				<label class="form-label" for="num">글번호</label>
				<input class="form-control" type="text" name="num" id="num" 
					th:value="${dto.num}" readonly/>
			</div>
			<div>
				<label class="form-label" for="writer">작성자</label>
				<input type="text" class="form-control" name="writer" id="writer" 
					th:value="${dto.writer}" readonly/>
			</div>
			<div>
				<label class="form-label" for="title">제목</label>
				<input type="text" class="form-control" name="title" id="title" 
					th:value="${dto.title}"/>
			</div>
			<div>
				<label class="form-label" for="editor">내용</label>
				
				<div id="editor"></div>
				
				<textarea class="form-control d-none" name="content" 
					id="hiddenContent"></textarea>
			</div>
			<button class="btn btn-success btn-sm">수정확인</button>
			<button class="btn btn-danger btn-sm">Reset</button>
		</form>
	</div>
	<script>
		// 위에 toast ui javascript 가 로딩 되어 있으면 toastui.Editor 클래스를 사용할수 있다
		// 해당 클래스를 이용해서 객체 생성하면서 {} object 로 ui 에 관련된 옵션을 잘 전달하면
		// 우리가 원하는 모양의 텍스트 편집기를 만들수 있다
		const editor = new toastui.Editor({
			el: document.querySelector('#editor'),
		    height: '500px',
		    initialEditType: 'wysiwyg',
		    previewStyle: 'vertical',
		    language: 'ko',
		    initialValue: `[(${dto.content})]` // unescape 된 text 를 출력 
		});
		
		document.querySelector("#editForm").addEventListener("submit", (e)=>{
			//에디터로 작성된 문자열 읽어오기
			const content = editor.getHTML();
			//테스트로 콘솔에 출력하기
			console.log(content);
			//에디터로 작성된 문자열을 폼 전송이 될수 있도록 textarea 의 value 로 넣어준다.
			document.querySelector("#hiddenContent").value=content;
			
			//테스트 하기 위해 폼 전송 막기
			//e.preventDefault();
			
			//폼전송을 막지 않으면 전송이 된다.
			
		});	
	</script>
</body>
</html>