<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>/board/view.html</title>
<th:block th:insert="~{/include/resource :: bootstrap}"></th:block>
</head>
<body>
	<div class="container pt-3">
		<nav>
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item">
		    	<a th:href="@{/}">Home</a>
		    </li>
		    <li class="breadcrumb-item">
		    	<a th:href="@{/board/list}">Board</a>
		    </li>
		    <li class="breadcrumb-item active">Detail</li>
		  </ol>
		</nav>
		<h1>게시글 상세보기</h1>
		<!--/* 
			th:if="${message != null}"
			th:if="${!#strings.isEmpty(message)}"
			대신에 
			th:if="${message}" 로 사용하면 편리하다 
			만일 message 가 존재한다면 이라고 읽으면 된다.
		*/-->
		<p th:if="${message}" class="alert alert-success p-3">[[${message}]]</p>
		
		<!--/* 
			Thymeleaf view page 에서 요청 파라미터로 전달되었던 값도 추출할수 있다.
			${param.파라미터명}
			${#strings } 는 문자열에 관련된 유틸리티 객체를 활용할수 있다.
			${!#strings.isEmpty(param.search)} 는 search 라는 파라미터명으로 전달된값이 있는지 확인한다 
		 */-->
		<p th:if="${!#strings.isEmpty(param.search)}" 
			class="alert alert-info px-3 py-2 rounded-3 shadow-sm">
			<i class="bi bi-search me-2"></i>
			<strong>[[${param.search}]]</strong> 조건
			<strong>[[${param.keyword}]]</strong> 검색 결과 입니다
		</p>
		
		<div class="btn-group mb-2">
			<a class="btn btn-outline-secondary btn-sm"
				th:classappend="${dto.prevNum eq 0 ? 'disabled':null}" 
				th:href="@{|/board/view?num=${dto.prevNum}${query}|}">
				<i class="bi bi-arrow-left"></i>
				Prev
			</a>
			<a class="btn btn-outline-secondary btn-sm" 
				th:classappend="${dto.nextNum eq 0 ? 'disabled':null}"
				th:href="@{|/board/view?num=${dto.nextNum}${query}|}">
				Next
				<i class="bi bi-arrow-right"></i>
			</a>
		</div>
		<table class="table table-striped">
			<colgroup>
				<col class="col-2"/>
				<col class="col"/>
			</colgroup>
			<tr>
				<th>글번호</th>
				<td>[[${dto.num}]]</td>
			</tr>
			<tr>
				<th>작성자</th>
				<td>
					<i th:if="${dto.profileImage == null}" style="font-size:100px;" class="bi bi-person-circle"></i>
					<img th:unless="${dto.profileImage == null}"
					 	th:src="@{/upload/{name}(name=${dto.profileImage})}" 
							style="width:100px;height:100px;border-radius:50%;"/>
					[[${dto.writer}]]
				</td>
			</tr>
			<tr>
				<th>제목</th>
				<td>[[${dto.title}]]</td>
			</tr>
			<tr>
				<th>조회수</th>
				<td>[[${dto.viewCount}]]</td>
			</tr>
			<tr>
				<th>작성일</th>
				<td>[[${dto.createdAt}]]</td>
			</tr>
		</table>
		<div class="card mt-4">
		  <div class="card-header bg-light">
		    <strong>본문 내용</strong>
		  </div>
		  <div class="card-body p-1">
		    [(${dto.content})]
		  </div>
		</div>
		
		<div th:if="${dto.writer eq #authentication.name}" class="text-end pt-2">
			<a class="btn btn-warning btn-sm" 
				th:href="@{/board/edit(num=${dto.num})}">Edit</a>
			<a class="btn btn-danger btn-sm" 
				th:href="@{/board/delete(num=${dto.num})}">Delete</a>
		</div>
		
		<th:block th:insert="~{/include/comment :: commentUi('board', ${dto.num}, ${dto.writer}, ${commentList})}"></th:block>
	</div><!-- .container -->
</body>
</html>










