<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	<select id="selectList" parameterType="int" resultType="commentDto">	
		<![CDATA[    
			SELECT c.num, c.writer, c.targetWriter, c.content, c.deleted, c.groupNum, 
				   u.profileImage,
				   CASE
				     WHEN SYSDATE - c.createdAt < 1/1440 THEN '1분 전'
				     WHEN SYSDATE - c.createdAt < 10/1440 THEN '10분 전'
				     WHEN SYSDATE - c.createdAt < 365 THEN
				       TO_CHAR(TRUNC(SYSDATE - c.createdAt)) || '일 전'
				     WHEN SYSDATE - c.createdAt < 730 THEN '1년 전'
				     ELSE '2년 이상'
				   END AS createdAt,
				   (SELECT COUNT(*) 
				    FROM comments 
				    WHERE groupNum = c.num AND num != groupNum ) AS replyCount
			FROM comments c
			INNER JOIN users u ON c.writer = u.userName
			WHERE c.parentNum=#{num}
			ORDER BY c.groupNum ASC, c.num ASC		
		 ]]>
	</select>
</mapper>