<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring08.repository.GalleryMapper">
	
	<!-- 
		GalleryImageDto 맵핑 
		
		property="Dto 의 필드명" column="SELECT 된 칼럼명"
		ex)
		property="num" column="gi_num"
		GalleryImageDto 객체의 setNum() 메소드를 호출하면서 SELECT 된 gi_num 을 전달하라는 의미
	-->
	<resultMap id="galleryImageMap" type="com.example.spring08.dto.GalleryImageDto">
		<id property="num" column="gi_num"/>
		<result property="galleryNum" column="galleryNum"/>
		<result property="saveFileName" column="saveFileName"/>
		<result property="createdAt" column="gi_createdAt"/>
	</resultMap>
	
	<!-- 
		GalleryDto 맵핑 
		
		GalleryDto 의 imageList 라는 필드는 List<GalleryImageDto> type 이기 때문에 
		collection 요소를 이용해서 galleryImageMap 의 결과를 넣도록 설정한다 
	-->
	<resultMap id="galleryMap" type="com.example.spring08.dto.GalleryDto">
		<id property="num" column="g_num"/>
		<result property="writer" column="writer"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="createdAt" column="g_createdAt"/>
		<collection property="imageList" resultMap="galleryImageMap"/>
	</resultMap>
	
	<select id="getListWithImages" resultMap="galleryMap">
		SELECT g.num AS g_num, g.writer, g.title, g.content, 
			TO_CHAR(g.createdAt, 'YYYY-MM-DD HH24:MI:SS') AS g_createdAt,
			gi.galleryNum, gi.num AS gi_num, gi.saveFileName,
			TO_CHAR(gi.createdAt, 'YYYY-MM-DD HH24:MI:SS') AS gi_createdAt
		FROM gallery g
		JOIN gallery_image gi ON g.num = gi.galleryNum
		ORDER BY g.num DESC, gi.num ASC
	</select>
	
</mapper>