<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>/templates/member/new-form.html</title>
</head>
<body>
	<div class="container">
		<h1>회원 추가 양식</h1>
		<form th:action="@{/member/save}" method="post">
			<div>
				<label for="name">이름</label>
				<input type="text" name="name" id="name"/>
			</div>
			<div>
				<label for="addr">주소</label>
				<input type="text" name="addr" id="addr"/>
			</div>
			<button type="submit">저장</button>
		</form>
	</div>
</body>
</html>


