<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>/gallery/view.html</title>
<th:block th:insert="~{/include/resource :: bootstrap}"></th:block>
</head>
<body>
	<div class="container">
		<div class="card shadow">
			<!-- 작성자 정보 -->
			<div class="card-header d-flex align-items-center">
				
				<i th:if="${res.dto.profileImage == null}" style="font-size:100px;" class="bi bi-person-circle"></i>
			
				<img th:unless="${res.dto.profileImage == null}" 
					th:src="@{/upload/{name}(name=${res.dto.profileImage})}" 
					style="width:100px;height:100px;border-radius:50%;"/>
				
				<strong class="ms-3">[[${res.dto.writer}]]</strong>
				<span class="text-muted ms-auto">[[${res.dto.createdAt}]]</span>
			</div>
			<!-- 본문 -->
			<div class="card-body">
				<h5 class="card-title">[[${res.dto.title}]]</h5>
				<p class="card-text">[(${res.dto.content})]</p>
				<div class="row">
					
					<div th:each="tmp : ${res.images}" class="col-md-6 mb-4">
						<img th:src="@{/upload/{name}(name=${tmp.saveFileName})}"
						class="img-fluid rounded" alt="photo">
					</div>
					
				</div>
			</div>			
		</div> 
		
		<!--/* 
			commentUi( '카테고리명' , ${원글의글번호}, ${원글의작성자}, ${댓글목록}) 
			을 전달하면 댓글 관련 UI 가 여기에 랜더링된다.
		 */-->
		<th:block th:insert="~{/include/comment :: commentUi('gallery', ${res.dto.num}, ${res.dto.writer}, ${res.commentList})}"></th:block>

	</div><!-- .container -->
</body>
</html>







